In [34]:
from typing import Tuple
import pandas as pd
import numpy as np
import altair as alt

delta_t = 0.033

def mkdf(delta_t: float) -> Tuple[pd.DataFrame, pd.DataFrame, pd.DataFrame]: 
  positions = pd.DataFrame({
      "t": [0, 0.033, 0.066, 0.099, 0.133, 0.166, 0.199, 0.232, 0.265, 0.298],
      "s": [0, 1.35,  3.8,   7.2,   11.8,  17.4,  24.1,  31.9,  40.7,  50.6]
  })

  velocity = pd.DataFrame({
      "delta_s": [position.s[k+1] - position.s[k] for k in range(position.shape[0] - 1)]
  })
  velocity = velocity.assign(v=velocity.delta_s / delta_t)
  
  acceleration = pd.DataFrame({
      "delta_v": [velocity.v[k+1] - velocity.v[k] for k in range(velocity.shape[0] - 1)]
  })
  acceleration = acceleration.assign(a=acceleration.delta_v / delta_t)
  
  return position, velocity, acceleration

In [35]:
position, velocity, acceleration = mkdf(delta_t)

In [43]:
position

       t      s
0  0.000   0.00
1  0.033   1.35
2  0.066   3.80
3  0.099   7.20
4  0.133  11.80
5  0.166  17.40
6  0.199  24.10
7  0.232  31.90
8  0.265  40.70
9  0.298  50.60

In [37]:
velocity

   delta_s           v
0     1.35   40.909091
1     2.45   74.242424
2     3.40  103.030303
3     4.60  139.393939
4     5.60  169.696970
5     6.70  203.030303
6     7.80  236.363636
7     8.80  266.666667
8     9.90  300.000000

In [38]:
acceleration

     delta_v            a
0  33.333333  1010.101010
1  28.787879   872.359963
2  36.363636  1101.928375
3  30.303030   918.273646
4  33.333333  1010.101010
5  33.333333  1010.101010
6  30.303030   918.273646
7  33.333333  1010.101010

In [39]:
avg_accel = acceleration.a.sum() / acceleration.shape[0]
percent_error = abs(100 * (980 - avg_accel) / 980)

In [40]:
avg_accel

981.4049586776857

In [44]:
percent_error

0.14336313037609458

In [45]:
alt.Chart(position).mark_line().encode(x="t", y="s")

alt.Chart(...)

In [61]:
velocity_prime = pd.DataFrame({"delta_s": [np.nan], "v": [0]})
v_vs_t = position.join(pd.concat((velocity_prime, velocity)).reset_index())
alt.Chart(
    v_vs_t
).mark_line(
).encode(
    x=alt.X("t", title="Time (t)"), y=alt.Y("v", title="Velocity (v)")
)

alt.Chart(...)

In [62]:
v_vs_t

       t      s  index  delta_s           v
0  0.000   0.00      0      NaN    0.000000
1  0.033   1.35      0     1.35   40.909091
2  0.066   3.80      1     2.45   74.242424
3  0.099   7.20      2     3.40  103.030303
4  0.133  11.80      3     4.60  139.393939
5  0.166  17.40      4     5.60  169.696970
6  0.199  24.10      5     6.70  203.030303
7  0.232  31.90      6     7.80  236.363636
8  0.265  40.70      7     8.80  266.666667
9  0.298  50.60      8     9.90  300.000000

In [70]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()

model.fit(v_vs_t.t.values.reshape(-1, 1), v_vs_t.v)

print(f"Slope of line of best fit: {model.coef_[0]}")

Slope of line of best fit: 991.2646120415806

In [67]:
dir(model)

model.coef_

array([991.26461204])